<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.belugamobile.filemanager"
    android:versionCode="50"
    android:versionName="5.0" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /!-->
    <uses-permission android:name="android.permission.SUPER_USER" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />


    <uses-sdk android:minSdkVersion="11"
              android:targetSdkVersion="17" /> <!--  4.4 -->
    <application
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:name,android:icon"
        android:name=".FileManager"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/BelugaTheme">
        <activity
            android:name=".BelugaDrawerActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".BelugaPickActivity"
            android:icon="@drawable/launcher"
            android:label="@string/pick_file_label">
            <intent-filter>
                <action android:name="beluga.action.COPY_FILE" />
                <action android:name="beluga.action.MOVE_FILE" />
                <action android:name="beluga.action.EXTRACT_ARCHIVE" />
                <action android:name="beluga.action.CREATE_ARCHIVE" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <data android:mimeType="resource/folder" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.mediatek.filemanager.ADD_FILE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="resource/folder" />
            </intent-filter>
            <intent-filter>
                <action android:name="beluga.action.PICK_FILE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="beluga.action.PICK_FILE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="beluga.action.PICK_FILE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="beluga.action.PICK_FILE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="apk/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="beluga.action.PICK_FILE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="zip/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="beluga.action.PICK_FILE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="doc/*" />
            </intent-filter>
        </activity>

        <activity android:name=".BelugaTextEditorActivity"
            android:label="@string/beluga_text_editor_label">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <data android:mimeType="application/json" />
            </intent-filter>
        </activity>

        <activity android:name=".playtext.TextViewerActivity"
            android:label="@string/beluga_text_viewer_label">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <data android:mimeType="application/json" />
            </intent-filter>
        </activity>

        <activity android:name=".playtext.TextViewerSettingActivity"
            android:label="@string/settings_label"
            android:icon="@drawable/launcher"
            />

        <activity android:name=".app.AppManagerActivity"
            android:icon="@drawable/launcher"
            android:label="@string/app_manager_label">
        </activity>

        <activity android:name=".BelugaSettingActivity"
            android:label="@string/settings_label">
        </activity>

        <activity android:name=".BelugaAboutActivity"
            android:label="@string/about_label">
        </activity>

        <activity android:name=".BelugaHelpActivity"
            android:label="@string/help_label">
        </activity>

		<service android:name=".services.FileManagerService" 
		    android:process=":scan"></service>

		<receiver android:name=".receiver.MountReceiver"
		    android:process=":scan">
            <intent-filter
                android:priority="2147483647"
                >
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

 		<provider
 		    android:exported="false"
            android:name=".provider.FileManagerProvider"
            android:process=":scan"
            android:authorities="com.belugamobile.filemanager" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="56cebd9e1be125a9a7d298054b39f0fee3cd8ae2" />
    </application>

</manifest>
